/* Colors */

$white: #FFFFFF;
$black: #000000;
$cardinal-blue: #0b5f98;
$light-grey: #f0f0f0;
$medium-grey: #d8d8d8;
$medium-dark-grey: #4f4e4e;
$dark-grey: #383d49;
$purell-grey: #e9e9e9;
$fifththird-blue: #2f4351;